<header class="sticky top-0 z-50 flex border-b bg-white p-4 bg-[url(/images/img-noise-361x370.png)]">
  <div class="mx-auto w-full max-w-screen-lg flex items-center justify-between">
    <a href="/" class="text-3xl font-medium">Blog</a>

    <nav>
      <h1 class="sr-only">Blog Navigation</h1>
      <ul class="flex gap-1">
        <li><a href="/" class="px-4 py-1 hover:underline">Home</a>
        </li>
        <li><a href="/about" class="px-4 py-1 hover:underline">About</a>
        </li>
        <li><a href="/contact" class="px-4 py-1 hover:underline">Contact</a></li>
      </ul>
    </nav>

    <div>
      <%- include('../partials/search.ejs') %>
    </div>
  </div>
</header>