<header class="sticky top-0 z-50 flex border-b bg-white p-4 bg-[url(/images/img-noise-361x370.png)]">
  <div class="mx-auto w-full max-w-screen-lg flex items-center justify-between">
    <a href="/" class="text-3xl font-medium">Blog</a>

    <nav>
      <h1 class="sr-only">Blog Navigation</h1>
      <ul class="flex gap-1">
        <li><a href="/" class="px-4 py-1 hover:underline">Home</a>
        </li>
        <li><a href="/about" class="px-4 py-1 hover:underline">About</a>
        </li>
        <li><a href="/contact" class="px-4 py-1 hover:underline">Contact</a></li>
      </ul>
    </nav>

    <button
      class="flex gap-1 items-center px-4 py-1 rounded-md bg-neutral-950 text-neutral-50 hover:bg-neutral-800 duration-150 transition-colors"
      aria-expanded="false">
      Search
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="stroke-neutral-100"
          d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z"
          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="stroke-neutral-100" d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</header>