<div class="max-w-screen-lg mx-auto flex flex-col gap-8">
  <section class="flex flex-col gap-8 py-16">
    <h1 class="text-3xl font-medium">
      <%= post.title %>
    </h1>
    <p class="text-lg tracking-wide font-light">
      <%= post.body %>
    </p>
  </section>
</div>