<div>
  <div class="max-w-screen-lg mx-auto flex flex-col gap-4 py-4">
    <h1 class="font-bold text-5xl text-center">Hi, I am Renan.</h1>
    <p class="text-center">Web developer and gamer in the free time.</p>

    <img src="/images/hero-image.webp" alt="person looking out through window"
      class="w-full mx-auto rounded-lg shadow-2xl">
  </div>
</div>