<div class="mx-auto flex gap-8 relative">
  <div class="absolute bottom-0 left-0 right-0 top-0 w-screen md:relative">
    <img class="absolute inset-0 h-full w-full object-cover text-transparent opacity-50"
      src="<%= unsplash.auth.imageUrl %>" width="1280" height="1080" alt='photo of city buildings during
      daytime' />

    <div class="relative z-10 flex h-full flex-col justify-between p-4 px-8">
      <a class="text-2xl font-semibold tracking-tight text-black" href="/">
        Blog
      </a>
      <p class="text-black">
        Photo by
        <a class="hover:underline" href="<%= unsplash.auth.authorUrl %>" target="_blank">
          <%= unsplash.auth.author %>
        </a>
        on
        <a class="hover:underline" href="<%= unsplash.auth.imagePageUrl %>" target="_blank">
          Unsplash
        </a>
      </p>
    </div>
  </div>

  <div class="relative z-10 flex h-screen w-screen items-center justify-center p-8">
    <div class="w-full max-w-xs rounded-xl bg-transparent p-6 shadow xl:mx-8">
      <div class="flex flex-col items-center space-y-1 pb-6">
        <h1 class="text-2xl font-semibold tracking-tight text-black dark:text-white">Sign out</h1>
        <p class="w-[150px] text-center text-neutral-800 dark:text-zinc-400">
          Are you sure you want to sign out?
        </p>
      </div>

      <div class="flex justify-center space-x-2">
        <Signout class="w-full">Log out</Signout>
        <a class="inline-flex items-center justify-center font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 h-8 rounded-md px-3 text-xs border text-black bg-transparent hover:bg-neutral-100 shadow-sm w-full"
          href="/">
          Go back
        </a>
      </div>
    </div>
  </div>
</div>